/* Light mode */
[data-md-color-scheme="default"] {
    --md-default-bg-color: #fdf6e3;
    --md-default-fg-color: #002c37;

    --md-primary-bg-color: #fdf6e3;
    --md-primary-fg-color: #002c37;

    --md-accent-fg-color: #d56564;

    --md-code-fg-color: #002c37;
    --md-code-bg-color: #ffffff;

    --md-footer-fg-color: #002c37;
    --md-footer-bg-color: #002c37;
    --md-footer-fg-color--light: #ffffff;
    --md-footer-bg-color--dark: #002c37;
}

/* Dark mode */
[data-md-color-scheme="slate"] {
    --md-default-bg-color: #002c37;
    --md-default-fg-color: #fdf6e3;

    --md-primary-bg-color: #fdf6e3;
    --md-primary-fg-color: #0a3642;

    --md-accent-fg-color: #d56564;
    --md-accent-bg-color: #002c37;

    --md-code-fg-color: #ffffff;
    --md-code-bg-color: #0a3642;

    --md-footer-fg-color: #002c37;
    --md-footer-bg-color: #002c37;
    --md-footer-fg-color--light: #ffffff;
    --md-footer-bg-color--dark: #0a3642;
}